### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*
'hello'
-87.8
-
/
+
6

 the following are operators *, -, /, +

'hello' ------ value
-87.8  ------value
6------------value

2. What is the difference between string and variable?

- Variable is a name given to the memory location where the values is stored in the memory - variables are containers 
for storing data value, a python variable can take any values like, int, float or string.

    Example x = 23, y = 23.5, strVal = 'Rajesh'

- String represents a text value enclosed with in two double quotes(" ") or two single quotes('').

- String is a collection of characters which gives a text.



    Example "Rajesh", 'Rajesh1504'

3. Describe three different data types.

 Three datatypes in python
    
- int - A positive or negative whole number without a decimal point.

example  a = 10

-float- floating point numbers - A positive or negative whole number with a decimal point. 
example b = 10.5

- string - any text with in two single or double quotes and triple single quotes or double quotes(""" """)  for multiple lines. 
-
examples c = 'Rajesh1504' strvalue = "Welcome to python"

mutilinestr = """This is a really long comment that can make
the code look ugly and uncomfortable to read on
a small screen so it needs to be broken into
multi-line strings using double triple-quotes"""

In [19]:
a = 10
type(a)

int

In [13]:
b = 10.5

In [20]:
type(b)

float

In [21]:
c = 'Rajesh'
type(c)

str

In [17]:
multiline = """Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]

Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.["""

In [18]:
multiline

'Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.[32]\n\nPython is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.['

In [22]:
type(multiline)

str

4. What is an expression made up of? What do all expressions do?

- An Expression is a combination of variables and operators. Then expressions perform operation of variable based on 
the operators and evaluates the values to a single variable.

In [23]:
# variables 
a = 10
b = 20

# The expression - sum
c = a + b
    
# Evalues and store the value in C
print('c = {} + {}'.format(a,b))
print('c =',c)

c = 10 + 20
c = 30

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

- The assignemnt statemets assign a value to the variable.
- The expressions evalute the value to a variable.
- in spam = 10 , value 10 is assigned to spam variable, 
  and now spam will have value 10.
- But in expression a = C+B, the value of a depends on the value of C and B.

In [28]:
# Expression example

C = 10
B =20

# my expression is
a = C+B

a

30

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [30]:
bacon =22

In [31]:
bacon

22

In [33]:
#in bacon variable already  contains values of 22, the bacon is not reassigned the value so the becon value is not changed.for becon concatenated value +1

bacon+1

23

In [37]:
bacon = 22
c= bacon+1
print('c =',c)
print('bacon =',bacon)

c = 23
bacon = 22

 7. What should the values of the following two terms be?

- 'spam' + 'spamspam' 
- 'spam' * 3

# Both are given same outputs:

In [1]:
'spam' + 'spamspam'

'spamspamspam'

In [2]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

- variable can not start with numbers.
- Always start with characters or text or alphanumeric.

In [6]:
eggs = 100
eggs

100

In [8]:
100 = 'eggs'
100

SyntaxError: cannot assign to literal (2537469907.py, line 1)

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

 there are three functions:
    - int()
    - float()
    - str()
    
     will convert the values to integer, float or string versions of the values passed to them

In [16]:
a = 10.6
print('a =',a)

a = 10.6

In [14]:
int(a)

10

In [17]:
b =4

In [18]:
float(b)

4.0

In [19]:
c = 59

In [20]:
c

59

In [21]:
str(c)

'59'

### 10. Why does this expression cause an error? How can you fix it? 'I have eaten ' + 99 + ' burritos.'

- String concatenation can not performed with integer values.
- This can be fixed by converting 99 into string by str(99).

In [23]:
 'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [37]:
'I have eaten ' +str(99) + ' burritos.'

'I have eaten 99 burritos.'

In [42]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'